// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    font-family: 'PT Sans Narrow', sans-serif;
}



.imagesimp {
    background-image: image-url('header.jpg') ;
    background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: blanchedalmond;

  }

.imagesimp p {
    font-size: 2em;
}

.btn-lg {
    width: 150px;
    font-weight: bold;
    color: blanchedalmond;
}

.btn {
    color: blanchedalmond;
}

.user_identity {

    padding-top: 50px;

}


.user_presentation {
    display: flex;

    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}
