// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user_identity {

    padding-top: 50px;

}


.user_presentation {
    display: flex;

    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}